/* Desktop view code*/
*{
	padding: 0;
	margin: 0;
}
body
{
	 background-image:url(../images/home.JPG);
	 background-repeat: no-repeat;
	 background-size: cover;
}
main
{
    width: 1000px ;
    height: 3235px;
    background: #1a0d00;
    opacity: 0.8;
    margin: 0px auto;
    position: relative;
}

/*navigation code*/
.h-left{
    float: left;
    width: 16%;
}
.h-right {
    width: 83%;
    float: left;
}
main img{
    border-radius: 10px;
}
header{             
    height: 5%;
    background: #1a0d00;
    opacity: 0.8 ;
    position: relative;
    float: left;
    width: 100%;
}
#nav_list{
    padding: 0;
    line-height: 125px;
    
}
#nav_list ul { 
    list-style: none;
    padding-left: 1.5em;
    position: sticky;
    top: 0;
}
#nav_list ul li { 
    margin-bottom: 10px;
    display: inline;
    margin-left:10px;
}
#nav_list ul li a {
    font-size: 25px;
    display: inline;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    color: #aa8878;
    border-radius: 20px;
    text-decoration: none;
    transition: all .5s ease;

}
.logo_img{            
    position: relative;
    margin-top: -55px;
}

#nav_list ul li a:hover{
    color: red;
}
#nav_list ul li a img{
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border: 0.5px solid black;
    margin-right: 5px;
}
.fragment{
      width: 1000px;   
/*    height: 3%;*/
      padding-top: 12px;
      padding-bottom: 20px;
      text-align: center;
   } 
.fragment a{            
    font-size: 20px; 
    color: #d2a679;
    text-transform: uppercase;
}


h2, h4{                     
    text-align: center;
    color:  #835641;
    text-transform: uppercase;
}

h3{                    
    color: #aa8878;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}

.main_content{             
/*    padding: 10px;*/
    width: 1000px;
    height: auto;
    margin: 0px auto;
}

/*table code*/
    tr:nth-child(odd) {background-color: #352216;}        
    table {     
        float:left;
        display:inline-block;
        padding-left:30px;
        padding-right:30px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #aa8878;
        width: 50%;
        text-align: center;   
        font-size:20px;
        margin: auto;
        }

#specialpara {color: #aa8878;
    padding-right:20px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
}

hr { border:  2px dotted #aa8878;}

/*footer code*/
footer { 
    clear: both;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
}
footer p {
	font-size: 90%;
	text-align: center;
}
footer .social{
	text-align: center;
}
footer .social img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 15px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #aa8878;
}
.copy-right {
    color: #dcbba3;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 12px;
    float: left;
}
.copy-right a{
	color: #aa8878;
}

/*media query starts here*/
@media only screen and (max-width: 767px) {
    .top_image_banner{
        height: 300px; 
        object-fit: cover; 
        width: 100% !important;
          border-radius: 10px;
    }
.h-left{
        width: 100% !important;
        text-align: center; 
        margin-left:auto !important; 
        margin-right:auto !important; 
        height: 100% !important;
    }
 header{
        width: 100%;
        padding-top:0;
    }
 
    .logo_img{ 
        width: 200px; 
        height: 200px; 
        margin: 0;
    }
    #nav_list ul li {
        text-align: center;
        width: 100%;
        margin: auto;
        display: block;
        padding: 10px 0;
        line-height: 35px;
    }
    #nav_list ul li a {
        width: 100%;
        padding: 0;
    }
    #nav_list ul {
     margin-left: 0;
    }
    main{
        width: 100%;
        height: auto;
        font-size: 25px;
    }
    .fragment
    {
        width:100%;}
    
    img{
        margin:auto; 
        width: 99%; 
        object-fit: cover; 
        height: 100%;
        align-items: center;
    }
  
/* Force table to not be like tables anymore */
   
table,tbody,  th, td,  tr { 
display: block !important; 
width:100%!important; 
text-align: center;
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
 thead  { 
display: none !important;
	}
 
        td:nth-of-type(1):before { content: "Cake Tier Size"; }
		td:nth-of-type(2):before { content: "No of Servings"; }
		td:nth-of-type(3):before { content: "Price"; }
    
    .t1Wedding  td:nth-of-type(1):before { content: "Squre Cake Size"; }
	.t1Wedding	td:nth-of-type(2):before { content: "Servings"; }
	.t1Wedding	td:nth-of-type(3):before { content: "Price"; }
 
    .t2Wedding  td:nth-of-type(1):before { content: "Round Cake Size"; }
	.t2Wedding	td:nth-of-type(2):before { content: "Servings"; }
	.t2Wedding	td:nth-of-type(3):before { content: "Price"; }
    
    
    .t1Party    td:nth-of-type(1):before { content: "Cake Size"; }
	.t1Party	td:nth-of-type(2):before { content: "Servings"; }
	.t1Party	td:nth-of-type(3):before { content: "Price"; }
 
    .t2Party    td:nth-of-type(1):before { content: "Cake Size"; }
	.t2Party	td:nth-of-type(2):before { content: "Servings"; }
	.t2Party	td:nth-of-type(3):before { content: "Price"; }
    
		

}